.configuration-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 70%;
}

.public_name {
    padding: 0px;
}

.public_name,
.public_bio {
    width: 95%;
}

input,
textarea {
    display: block;
    box-sizing: border-box;
}
.public_bio textarea {
    width: 100%;
    height: 150px;
}

@media (max-width: 600px) {
    .configuration-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }

    .public_bio textarea {
        width: 100%;
        height: 100px;
    }
}
