.header__register {
    padding-top: 40px;
    justify-content: center;
}

.main__register {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    width: 90%;
}

h2 {
    position: relative;
    justify-self: center;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 2rem;
    margin-bottom: 16px;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 1px;
    background-color: #606060;
}

.header__logo-container img {
    width: 100%;
    max-width: 240px;
}

.main__register-container {
    width: 500px;
}

input,
select {
    padding: 8px;
    font-size: 1rem;
}

.form-row {
    gap: 1.8rem;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-links {
    justify-content: center;
    gap: 20px;
}

.form-submit {
    justify-self: center;
}

.form-submit button {
    width: 120px;
    height: 30px;
    background-color: #606060;
    color: #dbdbdb;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .main__register {
        align-items: start;
        padding-top: 50px;
    }
    .main__register {
        justify-content: center;
        align-items: start;
        height: 100%;
        padding: 1rem;
        padding-top: 50px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .main__register-container {
        width: 100%;
    }

    .form-row {
        gap: 20px;
        padding: 0 10px;
    }

    .form-row input,
    .form-row select {
        width: 170px;
        box-sizing: border-box;
    }

    .form-row-unico input {
        width: 365px;
    }
}
