.profile-container {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

.profile-container img {
    width: 55px;
}

.profile-container p {
    font-weight: bold;
    margin: 1px;
}

.section-text-inputs div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.section-text-inputs h3,
.section-text-inputs p {
    width: max-content;
}

.section-text-inputs p {
    font-weight: lighter;
    font-size: 1.8rem;
}

.section-check-inputs legend {
    font-weight: bold;
}

.section-control-inputs {
    justify-content: space-between;
    width: 100%;
    gap: 80px;
    margin: 30px 0;
}

.section-control-inputs div {
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section-control-inputs input {
    width: 60px;
}

.vehicle-details {
    width: 600px;
    margin: 25px auto;
    justify-content: space-around;
    padding: 0;
}

.vehicle-details div {
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin: 20px 0;
    font-weight: bold;
}

.vehicle-model {
    width: 120px;
}

@media (max-width: 600px) {
    .section-text-inputs {
        display: flex;
        flex-direction: column;
    }

    .section-text-inputs h3,
    .section-text-inputs p {
        width: max-content;
    }

    .section-text-inputs p {
        font-weight: lighter;
        font-size: 1.3rem;
    }

    .vehicle-details {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .vehicle-details div {
        margin: 0;
        padding: 10px;
        width: 0;
    }

    .section-control-inputs {
        width: 100%;
        margin: 0 auto;
        gap: 10px;
        flex-direction: column;
    }

    /* .section-control-inputs div {
        flex-direction: column;
        align-items: start;
    } */

    .section-control-inputs input,
    .section-control-inputs select {
        box-sizing: border-box;
        width: 250px;
    }

    .vehicle-details input,
    .vehicle-details select {
        width: 250px;
        box-sizing: border-box;
    }

    .vehicle-model {
        width: 0px !important;
    }
}
